/* Custom font Miama add */

@font-face {
  font-family: "Miama";
  src: local("Miama Regular"), url("/assets/fonts/Miama.otf");
  font-weight: 400;
}

/* --------- */
/* CSS Reset */
/* --------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
table,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
textarea,
button {
  font: inherit;
}

/* ------------------- */
/* css custom property */
/* ------------------- */

:root {
  /* color */
  --clr-dark-100: hsl(0, 0%, 0%);
  --clr-dark-200: hsl(0, 0%, 13%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsla(0, 0%, 100%, 0.5);

  --clr-accent-400: hsl(8, 77%, 57%);

  /* font family */
  --ff-inter: "Inter", sans-serif;
  --ff-miama: Miama, sans-serif;

  /* font size */
  --fs-900: clamp(2.25rem, 5vw, 4.875rem); /* 78px */
  --fs-800: clamp(2rem, 5vw, 3rem); /* 48px */
  --fs-700: 2rem; /* 32px */
  --fs-600: 1.75rem; /* 28px */
  --fs-500: 1.125rem; /* 18px */
  --fs-400: 1rem; /* 16px */
  --fs-300: 0.875rem; /* 14px */

  /* font weight */
  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
}

/* ---------------- */
/* Utility approach */
/* ---------------- */

.flx {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  place-items: center;
}

/* font color style */
/* .clr-light {
  color: var(--clr-neutral-100);
}
.clr-gray {
  color: var(--clr-neutral-200);
} */

/* font family style */

.ff-miama {
  font-family: var(--ff-miama);
  font-weight: var(--fw-400);
}

/* font-size style  */

.fs-title {
  font-size: var(--fs-900);
}

/* font-weight style */
/* .fw-800 {
  font-weight: var(--fw-800);
}
.fw-700 {
  font-weight: var(--fw-700);
} */

.txt-aln {
  text-align: center;
}

/* ------------ */
/* shared style */
/* ------------ */

body {
  background-color: var(--clr-dark-100);
  font-family: var(--ff-inter);
  color: var(--clr-neutral-100);
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  line-height: 1.3;
}

.container {
  max-width: 1440px;
  width: 75%;
  margin: 0 auto;
}

.btn-primary, .btn-secondary{
  border: none;
  outline:none;
  cursor: pointer;
  font-size: var(--fs-500);
  font-weight: var(--fw-600);
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-100);
  border-radius: 2.625rem;
  padding: 1rem 3.46875rem;
  margin-block-start: 2.375rem;
}

.btn-secondary{
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background-color: transparent;
}

section {
  margin-block-end: 5.625rem;
}

.section-title {
  font-size: var(--fs-800);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-800);
  line-height: 1.2;
  margin-block-end: 0.875rem;
}

.description {
  color: var(--clr-neutral-200);
  letter-spacing: 0.01875rem;
  line-height: 1.5rem;
}


/* --------------------- */
/* header related style  */
/* -------------------- */

header{
background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

#hembarg-menu {
  display: none;
}

nav {
  margin: 0 auto;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: var(--clr-accent-400);
  font-size: 2.375rem;
  font-style: italic;
}

.nav-items {
  gap: 2.9375rem;
  border: 1px solid hsl(from var(--clr-neutral-100) h s l / 0.1);
  border-radius: 2.4375rem;
  padding: 0.25rem;
}

.nav-items .nav-item {
  & .nav-link {
    padding: 0.5rem 1.125rem;
    color: var(--clr-neutral-100);
    font-size: var(--fs-500);
    border-radius: 50px;
    display: inline-block;
  }
  & .active {
    background-color: var(--clr-accent-400);
  }

  & .nav-link:hover {
    background-color: var(--clr-accent-400);
  }
}


/* Banner Related style */

.banner{
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

#circle{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--clr-accent-400);
}

.banner .container{
  justify-content: space-between;
  align-items: center;
}

.banner_content .banner_title, p{
  max-width: 32.5rem;
}

.banner_content{
  width: 55%;
}

.banner_img{
  position: relative;
  width: 35%;
}

.banner_video_tutorial--card,
.banner_free_video--card {
  position: absolute;
  width: 206px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 2rem 1rem;
}

.banner_video_tutorial--card{
  left: -7rem;
  bottom: 2rem;
}

.banner_free_video--card{
  left: 15rem;
  top: 7rem;
}

.video_viewer_number{
  font-size: 1.5rem;
}

.free_video_viewer_number{
  font-size: 40px;
}

/* ------------------ */
/* main related style */
/* ----------------- */

/* change-habit related style start */
.change-habits .section-text {
  max-width: 40rem;
  margin: 0 auto 3.625rem;
}

.change-habits .change-habits-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.change-habits-cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card picture {
  margin-block-end: 1.875rem;

  & img {
    border-radius: 100px;
    border: 4px solid hsl(from var(--clr-neutral-100) h s l / 0.1);
  }
}

.card .card-txt {
  max-width: 14.45rem;

  & .card-title {
    font-size: var(--fs-500);
    margin-block-end: 0.375rem;
  }
}

/* change-habit related style end */

/* run related style start */
.run .container {
  border-radius: 18px;
  background: var(--clr-dark-200);
  padding: 2rem;
  gap: 10.3125rem;
  justify-content: space-between;
}

.run .run-content {
  width: 50%;
}

.run .run-image {
  width: 35%;
  height: 312px;
  border-radius: 18px;
  background-image: url(../assets/images/run.jpg);
  background-position: 70% 30%;
  background-size: 320%;
  background-repeat: no-repeat;
}

/* run related style end */

/* Trainings and Exercises related style start  */
.exercises .exercises_content{
  max-width: 41.9375rem;
}

.exercises_gallery{
  margin-block-start: 3.625rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.exercises_gallery .gallery_item{
  position: relative;
}

.exercises_gallery{
  & .one{
    grid-column: 1 / 4;
  }
  & .two{
    grid-column: 4 / 10;
  }
  & .three{
    grid-column: 10 / -1;
  }
  & .four{
    grid-column: 1 / 6;
  }
  & .five{
    grid-column: 6 / 9;
  }
  & .six{
    grid-column: 9 / -1;
  }
}

.gallery_item img{
  height: 100%;
}

.gallery_item .gallery_text{
  position: absolute;
  font-size: clamp(0.3rem, 4vw, 0.8rem);
  left: 1rem;
  bottom: 1.5rem;
  background-color: #0035;
  padding:0.5rem 1rem;
  border-radius: 0.4rem;
  border: 0.3px solid #FFF6;
  box-shadow: 0 0 1rem 0 #0003;
}

/* Trainings and Exercises related style end  */


/* BMI Calculator related style start */

.bmi-calculator--content{
  max-width: 671px;
  margin: 0 auto;
}


/* BMI Chart And Form related style start */

.bmi_chart_form{
  background-color: var(--clr-dark-200);
  padding-block: 3.25rem;
}

.bmi_chart_form .flx{
  justify-content: space-between;
}

.bmi_chart--title,
.bmi_form--title {
  font-size: var(--fs-600);
}

.bmi_chart--table{
  margin-block-start: 3.25rem;
}

.bmi_chart .bmi_chart--table,
.chart_header,
.chart_data{
  border-collapse: collapse;
  border: 1px solid var(--clr-neutral-200);
  padding: 1rem 2rem;
  text-align: left;
  line-height: 1.2;
  font-size: var(--fs-400);
}

.bmi_chart .bmi_chart--table .chart_data{
  color: var(--clr-neutral-200);
  font-size: 14px;
}

.bmi_form{
  max-width: 30rem;
}

.bmi_form .description{
  padding: 0.9rem 0 2.1rem;
}

.bmi_form--table{
  width: 100%;
}
.bmi_form--table .bmi_form--row > * + *{
  padding-left: 1rem;
}

.bmi_form .bmi_form--table, .form_data{
  padding:0.4rem 0;
}


.bmi_form input[type="text"],select{
  padding: 1rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--clr-neutral-200);
}

.bmi_form input[type="text"]::placeholder{
  color: var(--clr-neutral-200);
}

.bmi_form .form_data .fector{
  width: 100%;
  padding: 2rem;
}

/* BMI Chart And Form related style end */

/* Team related style start */
.team_content{
  max-width: 41.9375rem;
  margin: 0 auto;
  text-align: center;
}

.team_gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  background-color: var(--clr-dark-200);
  padding: 1.25rem;
  border-radius: 1.125rem;
  margin-top: 3.125rem;
}

.team_gallery--item{
  position: relative;
}

.team_gallery--item img{
  border-radius: 1.2rem;
  width: 100%;
  height: 100%;
}

.trainer_title{
  position: absolute;
  bottom: 1.4rem;
  left: 1rem;
}

.trainer_title h4{
  font-size: clamp(0.875rem, 4vw, 1.25rem);
}
/* Team related style end */


/* -------------------- */
/* footer related style */
/* ------------------- */
footer{
  background-color: var(--clr-dark-200);
  --footer_logo--fs: 4.375rem;
  --footer_nav--fs: 1.4375rem;
}

.footer_content{
  padding: 3rem 0;
  justify-content: space-between;
}

.footer_content--logo{
  max-width: 27.6875rem;
}

.footer_content--logo .footer_logo{
  font-size: var(--footer_logo--fs);
  font-style:italic;
  color: var(--clr-accent-400);
  margin-block-end: 1.25rem;
}

.footer_content--logo .description{
  margin-block-end: 1.25rem;
}

.footer_content--nav{
  max-width: 32.125rem;
  width: 100%;
  justify-content: space-between;
}

.footer_nav--header{
  font-size: var(--fs-700);
  margin-block-end: 2.4375rem;
}

.footer_nav .flx{
  flex-direction: column;
  --gap: 1.25rem;
}

.footer_nav--item{
  color: var(--clr-neutral-200);
  font-size: var(--footer_nav--fs);
}

.footer_hr{
  border: 1px solid var(--clr-neutral-200);
}

.copy_right-text{
  padding: 2.5625rem 0;
  color: var(--clr-neutral-200);
  font-size: 1.25rem;
  line-height: 24px;
}


/* --------------------- */
/* Responsive part start */
/* --------------------- */

/* Tablate responsive style */

@media screen and (min-width: 576px) and (max-width: 992px){
  .container {
    width: 85%;
  }

  /* nav related style */
  .nav-items {
    gap: 1.25rem;
  }

  .nav-link {
    font-size: var(--fs-400);
  }

  /* Banner related style */

   .banner .container{
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .banner_content,
  .banner_img{
    width: 100%;
  }

  .banner_video_tutorial--card,
  .banner_free_video--card {
    width: 155px;
    padding: 1rem;
  }

  .banner_video_tutorial--card{
    left: 10rem;
    bottom: 10rem;
  }
  
  .banner_free_video--card{
    left: 20rem;
    top: 2rem;
  }

  .free_video_viewer_number{
    font-size: 30px;
  }

  .video_viewer_number{
    font-size: 18px;
  }

  .banner_img .description{
    font-size: 9px;
  }



  /* change habits style */
  .change-habits-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /* run related style */
  .run .container {
      gap: 4.25rem;
    }
  .run .run-image {
    background-position: 67% 26%;
    background-size: 550%;
  }

  /* Exercises related style */
  .gallery_item .gallery_text{
    font-size: 0.7rem;
  }

  /* BMI Chart And Form related style start */
  .bmi_chart_form .flx{
    flex-direction: column;
    gap: 3.875rem;
  }

  .bmi_form{
    max-width: 100%;
  }

  /* Team related style */
  .team_gallery{
    grid-template-columns: repeat(2, 1fr);
  }

  /* footer related style */
  .footer_content{
    flex-direction: column;
  }

}

/* Mobile responsive style */

@media screen and (max-width: 576px){

  .container {
    width: 90%;
  }

  /* nav related style  */

  #hembarg-menu {
    display: block;
    font-size: 2.375rem;
  }

  .nav-items {
    display: none;
  }

  /* Banner related style */

  .banner .container{
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .banner_content,
  .banner_img{
    width: 100%;
  }

  .banner_video_tutorial--card,
  .banner_free_video--card {
    width: 155px;
    padding: 1rem;
  }

  .banner_video_tutorial--card{
    left: 6rem;
    bottom: 15rem;
  }
  
  .banner_free_video--card{
    left: 17rem;
    top: -1rem;
  }

  .free_video_viewer_number{
    font-size: 30px;
  }

  .video_viewer_number{
    font-size: 18px;
  }

  .banner_img .description{
    font-size: 9px;
  }


  /* button style */
  .btn-primary{
    padding: 1rem 0;
    width: 100%;
  }

 /* change habits style */
 .change-habits .change-habits-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  /* run related style */
  .run .container {
      gap: 1.94rem;
      flex-direction: column;
  }
  .run .run-content{
    width: 100%;
  }
  .run .run-image{
    width: 100%;
  }

  /* Trainings and Exercises related style */
  .exercises_gallery{
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery_item .gallery_text{
    font-size: 0.7rem;
  }

  /* BMI Chart And Form related style start */
  .bmi_chart_form .flx{
    flex-direction: column;
    gap: 2.625rem;
  }
  .bmi_form{
    max-width: 100%;
  }

  /* Team related style */
  .team_gallery{
    grid-template-columns: repeat(1, 1fr);
  }
  .trainer_title{
    bottom: 0.3rem;
    left: 0.5rem;
  }

  /* footer related style */
  .footer_content, .footer_content--nav{
    flex-direction: column;
  }

}
